body {
	color: white;
	overflow: hidden;
	background: black;
	font-family: monospace;
}

canvas {
	transition: all 1s;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	text-decoration: overline;
}

* {
	box-sizing: border-box;
}

iframe {
	border: 0;
}

.bordered {
	border: 1px solid gray;
}

.cp-app {
	z-index: 9999;
}

#ctheader {
	height: 100px;
}

#ctmain {
	overflow-y: hidden;
}

#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 275px;
	padding: 4px;
	padding-top: 0;
	overflow-y: scroll;
}

#tree {
	position: absolute;
	z-index: 1;
	right: 0px;
	bottom: 0px;
	font-size: 120%;
	max-width: calc(100% - 275px);
}

#tree div {
	opacity: 0.9;
	background: black;
	border: 1px solid gray;
}

#tree div:hover, #tree div.selbranch {
	background: gray;
	border: 1px solid white;
}

#vnode {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 275px;
}

.dropper {
	border: 2px dashed white;
	margin-top: 5px;
}

.basicpopup {
	color: black;
}

.gmenu {
	margin: -5px;
	opacity: 0.5;
	background: black;
	white-space: nowrap;
	border: 1px solid green;
}

.gmenu .right button {
	height: 18px;
	margin-top: -3px;
}

.gmenu.gestures, .gmenu.dances {
	bottom: calc(70% + 16px);
}

.gmenu.left_leg, .gmenu.right_leg,
.gmenu.left_arm, .gmenu.right_arm {
	top: 30% !important;
	bottom: 168px;
	width: 136px;
}

.gmenu.left_hand, .gmenu.right_hand {
	width: 50%;
	height: 160px;
}

.gmenu.left_hand .jblock, .gmenu.right_hand .jblock {
	width: 20%;
	display: inline-block;
}

.gmenu.triggers, .gmenu.gestures {
	max-width: 50%;
	white-space: normal;
}