html, body {
	width: 100%;
	height: 100%;
}

body {
	color: white;
	position: fixed;
	overflow: hidden;
	background: black;
	font-family: monospace;
}

canvas {
	transition: all 1s;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	text-decoration: overline;
}

* {
	box-sizing: border-box;
}

iframe {
	border: 0;
}

.bordered {
	border: 1px solid gray;
}

.topbordered {
	border-top: 1px solid gray;
}

.cp-app {
	z-index: 9999;
}

#ctheader {
	height: 110px;
}

#ctll {
	width: 148px;
	margin-top: -30px;
}

#ctmain {
	top: 110px;
	overflow-y: hidden;
}

.embedded #ctmain {
	top: 0;
}

.embedded .basicpopup {
	max-height: 90%;
}

#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 287px;
	padding: 4px;
	padding-top: 0;
	overflow-y: scroll;
}

#tree {
	position: absolute;
	z-index: 1;
	right: 0px;
	bottom: 0px;
	font-size: 120%;
	max-width: calc(100% - 287px);
}

#tree div {
	opacity: 0.9;
	background: black;
	border: 1px solid gray;
}

#tree div:hover, #tree div.selbranch {
	background: gray;
	border: 1px solid white;
}

#vnode {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 287px;
}

#listening_indicator {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 80px;
	height: 80px;
	margin: 20px;
	background: red;
	border-radius: 50%;
	transition: opacity 1s;
}

.dropper {
	border: 2px dashed white;
	margin-top: 5px;
}

.infobubble {
	padding: 10px;
	background: black;
	border-radius: 5px;
	border: 1px solid green;
}

.basicpopup {
	color: black;
	overflow-y: auto;
}

.gmenu {
	margin: -5px;
	opacity: 0.5;
	max-height: 100%;
	overflow-y: auto;
	background: black;
	white-space: nowrap;
	border: 1px solid green;
	transition: all 500ms !important;
}

.gmenu.run_home img {
	width: 64px;
}

.gmenu.run_home img:hover,
img.right.h30p.up5 {
	filter: invert(100%);
}

.gmenu.basic {
	width: 247px;
}

.gmenu.cameras {
    left: 250px !important;
    right: 276px;
    white-space: initial;
}

.gmenu.cameras button:not(.right) {
	margin: 10px 10px 0 0;
}

.gmenu.furnishings, .gmenu.lights {
	width: 272px;
	max-height: calc(100% - 127px);
}

.gmenu.controls {
	height: 133px;
}

.gmenu .right button {
	height: 18px;
	margin-top: -3px;
}

.gmenu.gestures, .gmenu.dances {
	bottom: calc(70% + 16px);
}

.gmenu.left_leg, .gmenu.right_leg,
.gmenu.left_arm, .gmenu.right_arm {
	top: 30% !important;
	bottom: 168px;
	width: 136px;
}

.gmenu.left_hand, .gmenu.right_hand {
	width: 50%;
	height: 160px;
}

.gmenu.spine .jblock,
.gmenu.left_hand .jblock, .gmenu.right_hand .jblock {
	width: 20%;
	display: inline-block;
}

.gmenu.spine {
	width: 47%;
}

.gmenu.triggers, .gmenu.chat,
#ctmain:not(.gpage) .gmenu.gestures {
	width: 33%;
	white-space: normal;
}

.gmenu.chat {
	max-height: 193px;
	top: initial !important;
}

.gmenu.chat .out {
	clear: both;
	overflow-y: auto;
	max-height: 129px;
}

.gmenu.run_home {
	margin-right: 180px;
}

/*.gmenu.mods {
	max-width: 180px;
}*/

.gmenu.main {
	max-height: 50%;
}
.gmenu.steps {
	min-width: 200px;
/*	max-width: calc(100% - 410px);*/
	max-width: 30%;
	max-height: 50%;
}
.gmenu.actors {
	min-width: 110px;
/*	max-width: 416px;*/
	max-width: 70%;
}
.gmenu.props, .gmenu.portals {
	min-width: 115px;
	max-height: calc(100% - 350px);
}
.gmenu.body {
	margin-left: 235px;
}

.gmenu.story {
	max-width: 30%;
	max-height: 50%;
	white-space: normal;
}

.gmenu.info {
	max-width: 50%;
	margin-right: 160px;
	white-space: normal;
}

.gmenu.minimap {
	width: 270px;
}

.gmenu.collapsed {
	max-height: 40px;
	max-width: 136px;
	overflow: hidden;
}

.screentext {
	color: white;
	padding: 20px;
	font-size: 200%;
	background: none;
	border-radius: 50%;
	border: 1px dotted gray;
}