body {
	color: white;
	overflow: hidden;
	background: black;
	font-family: monospace;
}

canvas {
	transition: all 1s;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	text-decoration: overline;
}

* {
	box-sizing: border-box;
}

iframe {
	border: 0;
}

.bordered {
	border: 1px solid gray;
}

.cp-app {
	z-index: 9999;
}

#ctheader {
	height: auto;
}

#ctmain {
	overflow-y: hidden;
}

#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 275px;
	padding: 4px;
	padding-top: 0;
	overflow-y: scroll;
}

#tree {
	position: absolute;
	z-index: 1;
	right: 0px;
	bottom: 0px;
	font-size: 120%;
}

#tree div {
	opacity: 0.95;
	background: black;
	border: 1px solid gray;
}

#tree div:hover {
	background: gray;
	border: 1px solid white;
}

#vnode {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 275px;
}

.dropper {
	border: 2px dashed white;
	margin-top: 5px;
}

.basicpopup {
	color: black;
}